.main-cnt {
  width: 100%;
  height: 100vh;
  background-image: url("../img/question-mark-1872665_1920.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  color: white;
  text-shadow: 0 0 20px rgba(0,0,0,0.3);

  //.begin {
  //  display: inline-block;
  //  font-weight: bold;
  //  font-size: 1.5rem;
  //  margin: 6vh 0 2vh 0;
  //  padding: 2vh;
  //  text-shadow: 0 0 20px rgba(0,0,0,0.3);
  //  background-color: rgba($color-pr-lighter, 0.6);
  //}
}



